---
BasedOnStyle:  LLVM
Language:        Cpp
AccessModifierOffset: 0
AlignAfterOpenBracket: BlockIndent
IncludeCategories:
  - Regex:           '^<windows.h>$'
    Priority:        1
  - Regex:           '.*'
    Priority:        2
NamespaceIndentation: All
ReflowComments:  false
ContinuationIndentWidth: 2
PointerAlignment: Left
...
